<a href="https://colab.research.google.com/github/VitorSRamos/FAE/blob/main/aula%202/aula2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

Este notebook contém as soluções da lista de exercícios de Python da disciplina de Introdução a Análise de Dados em Física de Altas Energias e Tecnologias Associadas, de 2021/1.

Para alguns exercícios é necessária a tomada de entrada do usuário. É útil definir uma função para evitar inputs inválidos.

In [23]:
def input_valido(msg_input, msg_erro, tipo):
    while True: # tenta tomar um input válido
        try:
            valido = tipo(input(msg_input)) # tenta criar variável com valor do input no formato informado no parâmetro "tipo"
            break # Caso consiga, o loop é quebrado
        except: # caso o input seja inválido, mostra a mensagem de erro e tenta novamente tomar um input
            print(msg_erro)
    return valido # retorna o input válido

# Exercício 1:
Receba a temperatura em Celsius como entrada, e como saída, dê a temperatura em Fahrenheit.

In [24]:
def C_para_F(t_celsius):

    # Transforma a temperatura de Celsius para Fahrenheit

    return 32 + 1.8 * t_celsius

input_t = input_valido('Temperatura em Celsius: ', 'Entrada inválida. Deve ser um número real', float) # Recebe a temperatura como float

print('Temperatura em Fahrenheit:', C_para_F(input_t)) # printando o resultado da função

Temperatura em Celsius: 10
Temperatura em Fahrenheit: 50.0

# Exercício 2
Calcule as raízes da equação de segundo grau, tendo como entrada os valores de a, b e c. Não se esqueça de incluir os
casos em que a=0, delta > 0, delta = 0 e delta < 0.

Partimos de:
\begin{equation}
    ax^2 + bx + c = 0
\end{equation}

Caso $a \neq 0$, resolvemos usando:

\begin{equation}
    \Delta = b^2 - 4ac
\end{equation}
\begin{equation}
   x = \frac{-b \pm \sqrt{\Delta}}{2a}
\end{equation}

Resultando nas duas raízes. Caso $a$ seja 0, haverá uma indeterminação na segunda equação. Neste caso, temos:

\begin{equation}
    bx + c = 0 \Rightarrow x = -\frac{c}{b}
\end{equation}
Resultando na única raíz.

In [25]:
def raizes_2o_grau(a, b, c):

    # Função que calcula e imprime as raízes da equação do 2o grau de coeficientes a, b e c

    if a != 0: # Caso geral
        
        delta = b**2 - 4 * a * c # Calcula delta
        print('O discriminante é: {}'.format(delta))

        raiz_1 = ( -b + (delta)**(0.5) ) / (2*a) # calcula duas raízes
        raiz_2 = ( -b - (delta)**(0.5) ) / (2*a)
        
        if delta < 0: # Caso delta seja negativo, as raízes serão complexas
            print('As raízes complexas são', raiz_1, 'e', raiz_2)

        elif delta == 0: # Caso delta seja raíz, a equação possui uma raíz dupla
            print('A raiz dupla é', raiz_1)
        
        else: # Caso restante é delta > 0, com duas raízes reais
            print('As duas raízes são', raiz_1, 'e', raiz_2)
        
        # retorna os valores caso precisem ser usados, retirado para este caso
        # return raiz_1, raiz_2 
    
    else: # caso específico onde a=0, uma equação de primeiro grau
        
        raiz = - (c/b)
        
        print('A raiz é', raiz)
        # retorna a raiz caso precisem ser usados, retirado para este caso
        #return raiz

# recebendo input do usuário

a = input_valido('Insira o valor do coeficiente a: ', 'Erro: Deve ser um número real.', float)
b = input_valido('Insira o valor do coeficiente b: ', 'Erro: Deve ser um número real.', float)
c = input_valido('Insira o valor do coeficiente c: ', 'Erro: Deve ser um número real.', float)

raizes_2o_grau(a, b, c) # calculando

Insira o valor do coeficiente a: 3
Insira o valor do coeficiente b: -8
Insira o valor do coeficiente c: 5
O discriminante é: 4.0
As duas raízes são 1.6666666666666667 e 1.0

In [26]:
# Exemplos:

print('delta > 0')
raizes_2o_grau(1, 5, -6) 

print('\ndelta = 0')
raizes_2o_grau(1, 2, 1) 

print('\ndelta < 0')
raizes_2o_grau(1, 1, 1) 

print('\na = 0')
raizes_2o_grau(0, -1, 2)

delta > 0
O discriminante é: 49
As duas raízes são 1.0 e -6.0

delta = 0
O discriminante é: 0
A raiz dupla é -1.0

delta < 0
O discriminante é: -3
As raízes complexas são (-0.49999999999999994+0.8660254037844386j) e (-0.5-0.8660254037844386j)

a = 0
A raiz é 2.0

# Exercício 3
Determine se um número de entrada é par ou ímpar.

In [27]:
def par_ou_impar(numero):
    
    # Avalia o resto da divisão por dois de um dado número 
    # e determina se ele é par ou ímpar

    resto = numero%2
    
    if resto == 0: # caso o resto seja 0, o número é par
        print('O número {} é par'.format(numero))
    else:
        print('O número {} é ímpar'.format(numero))

input_n = input_valido('Insira um número inteiro: ', 'Entrada inválido. Deve ser um número inteiro.', int)

par_ou_impar(input_n)

Insira um número inteiro: dois
Entrada inválido. Deve ser um número inteiro.
Insira um número inteiro: 2
O número 2 é par

# Exercício 4
Escreva uma função em Python que calcule a posição de um automóvel que está em movimento retilíneo uniforme, para
um dado instante t.

MRU: $ x = x_0 + v_0t $

In [28]:
def nova_posicao(x0, v0, t):

    # Seguindo a equação acima, calculamos a posição a partir da 
    # posição inicial x0, da velocidade v0 e do tempo total t

    return x0 + v0*t

# OBS: a unidade da saida da função depende das unidades de entrada
# Exemplo:

v = 2 # m/s
t = 3 # s

print('Posição: {} metros'.format(nova_posicao(0, v, t)))

Posição: 6 metros

# Exercício 5:
Pergunte ao usuário por uma string e cheque se a letra ‘s’ está contida nela.

In [29]:
# Neste caso, a função do input é desnecessária, pois a saida da função input sempre é uma string

input_s = str(input('Insira uma string: '))

def tem_s(texto):

    # Avalia a quantidade de vezes que 's' aparece em uma string
    # Caso seja 0, informa que 's' não aparece
    # Caso contrário, informa que 's' aparece

    if texto.count('s') == 0:
        print("A letra 's' não está contida na string.")
    else:
        print("A letra 's' está contida na string.")
    
tem_s(input_s)

Insira uma string: string qualquer
A letra 's' está contida na string.

# Exercício 6
Imprima os 100 primeiros números primos.

Um número n é primo se ele é divisível somente por 1 e por ele mesmo. Podemos testar se n é primo dividindo n por todos os números naturais entre 2 e n-1. Caso o resto de uma dessas divisões seja 0, o número é primo. Se nenhuma vez for 0, o número é primo.

In [30]:
def teste_primo(numero):

    # Testa se um determinado número é primo
    # dividindo esse número por todos os inteiros entre 2 e ele mesmo - 1
    # caso encontre o resto 0 em alguma dessas divisões, conclui que o numero não é primo
    # caso não encontre nenhum resto 0, o número é primo
    #
    # OBSERVAÇÃO: NÃO FUNCIONA PARA 0 E 1, QUE NÃO SÃO PRIMOS   

    for n in range(2, numero): # inicia o loop com n sendo cada um dos numeros naturais entre 2 e numero - 1
                               # range não inclui numero, vai só até numero-1
    
        resto = numero % n # determina o resto
        
        if resto == 0: # caso resto seja 0, retorna False e termina a função
            #print('Não primo')
            return False
            
        else:   # Caso não seja, deixa o loop ir para a próxima volta sem fazer nada (passando)
            pass
    
    # após o fim do loop for, caso nenhuma das divisões tenha resto 0 (número primo), retorna True
    #print('primo')
    return True   


#testando
teste_primo(6)

False

Com esta função, basta testar cada um dos números naturais até que se tenha uma lista com 100 itens

In [31]:
primos = [] # lista vazia que vai conter os números primos

index = 2 # índice para começar a testar se os números são primos. Começa em 2 devido as limitações de teste_primo

while len(primos) < 100: # cria um loop que se repeta até que a lista de números primos tenha 100 itens

    if teste_primo(index) == True: # Caso o resultado da função teste_primo seja positivo, o número index é colocado na lista de primos
        primos.append(index)
    else: # caso contrário, é ignorado
        pass

    index += 1 # atualiza index para que a próxima volta do loop seja feita com o próximo inteiro

In [32]:
print(primos) # printa a lista completa com os 100 primeiros números primos

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

# Exercício 7
Remova todos os espaços em branco e coloque a primeira letra maiúscula da lista: nomes = [' marCELo', 'fabiana', '
MArta ', 'ELIAS'].

In [33]:
nomes = [' marCELo', 'fabiana', 'MArta ', 'ELIAS']

nomes_sem_espaco = [item.lstrip() for item in nomes] # usando um método que tira os espaços no começo, aplicado sobre a lista original

print(nomes_sem_espaco)

nomes_capitalizados = [item.capitalize() for item in nomes_sem_espaco] # usando um método que capitaliza a primeira letra da string, aplicado sobre os nomes sem espaço

print(nomes_capitalizados)

['marCELo', 'fabiana', 'MArta ', 'ELIAS']
['Marcelo', 'Fabiana', 'Marta ', 'Elias']

# Exercício 8
Remova todos os elementos duplicados da lista nomes = ['carlos', 'carlos', 'leonardo', 'carlos, 'roberto', 'maria', 'gabriela',
2, 2, 2, 3, 3, 4, 'guilherme', 'gustavo'].

In [34]:
nomes = ['carlos', 'carlos', 'leonardo', 'carlos', 'roberto', 'maria', 'gabriela', 2, 2, 2, 3, 3, 4, 'guilherme', 'gustavo']

novos_nomes = [] # lista temporária para abrigar itens não repetidos de nomes

for item in nomes:
    if item not in novos_nomes: # Adiciono item de nomes à lista novos_nomes caso esse item não exista em novos_nomes
        novos_nomes.append(item)

nomes = novos_nomes # atualizo a lista nomes para remover elementos duplicados

print(nomes)

['carlos', 'leonardo', 'roberto', 'maria', 'gabriela', 2, 3, 4, 'guilherme', 'gustavo']

# Exercício 9
Escreva uma função que faça um loop sobre a lista primeiro_nome e a lista ultimo_nome, combine as duas e retorne
uma lista como nome completo. primeiro_nome = ['Pedro', 'Patricia', 'Lilian','Monica'] e ultimo_nome = ['Machado', 'Oliveira', 'Silva', 'Nunes]

In [35]:
primeiro_nome = ['Pedro', 'Patricia', 'Lilian','Monica']

ultimo_nome = ['Machado', 'Oliveira', 'Silva', 'Nunes']

def nomes_completos(nomes, sobrenomes):
    
    # Junta nomes de duas listas sob o mesmo índice

    nome_completo = [] # Cria uma nova lista para os nomes completos

    for index in range(len(primeiro_nome)): # O loop usa o comprimento da primeira lista como limite do range
        
        NomeCompleto = str(nomes[index]) + ' ' + str(sobrenomes[index]) # Junta os nomes somando strings do mesmo índice de listas diferentes
        
        nome_completo.append(NomeCompleto) # grava na lista de nomes completos
    
    return nome_completo # retorna a lista de nomes completos

lista_de_nomes = nomes_completos(primeiro_nome, ultimo_nome) # aplica a função às listas originais

print(lista_de_nomes) # imprime o resultado

['Pedro Machado', 'Patricia Oliveira', 'Lilian Silva', 'Monica Nunes']

# Exercício 10
Dada um lista como entrada, escreva uma função que retorne uma lista com os números menores que 10. Por exemplo;
se a lista de entrada for [1,12,13,6,7,9] a saída deverá ser [1,6,7,9].

In [36]:
def menores_que_10(numeros):
    novos_numeros = [] # lista temporária para abrigar itens da lista final

    for item in numeros:
        
        if item <= 10: # Adiciono item de 'numeros' à lista 'novos_numeros' caso esse item seja menor que 10
            novos_numeros.append(item)

    return novos_numeros

In [37]:
while True: # Loop para tomar a lista como entrada
    try:
        string_input = input('Insira a lista de entrada usando como separador somente uma vírgula (ex: 1,2,12): ') # recebe os valores como uma única string

        split_input = string_input.split(',') # separa essa string em várias strings cortadas nas vírgulas

        float_list = [float(item) for item in split_input] # transforma cada uma dessas strings em float
        
        break
    
    except: # caso haja algum valor que não pode ser transformado em float, imprime a mensagem de erro e tenta novamente receber a entrada
        print('Lista inválida. A lista deve conter somente números reais separados por vírgula.')

# imprime o resultado da função aplicada à lista de entrada
print(menores_que_10(float_list))

Insira a lista de entrada usando como separador somente uma vírgula (ex: 1,2,12): 1,12,13,6,7,9
[1.0, 6.0, 7.0, 9.0]

# Exercício 11
Crie uma função que printe todas os pares de chaves e valores com o .format(). Use o dicionário pessoas = { 'Marcelo':
'azul', 'Lilian': 'marrom', 'Bruna': 'azul', 'Leandro': 'marrom', 'Tadeu': 'verde'}, o output deverá ser: Output should be:
Marcelo tem olhos azul, Lilian tem olhos marrom, Bruna tem olhos azul, Leandro tem olhos marrom, Tadeu tem olhos
verde.

In [38]:
pessoas = { 'Marcelo':'azul',
            'Lilian': 'marrom',
            'Bruna': 'azul',
            'Leandro': 'marrom',
            'Tadeu': 'verde' }

def texto_dic(dicionario):

    # Itera sobre as chaves em um dicionário
    # se refere aos valores usando o "resultado" de dicionario[chave]
    # printa uma string contendo par valor e chave

    for chave in pessoas:
        print('{} tem olhos {}'.format(chave, dicionario[chave]))

texto_dic(pessoas)

Marcelo tem olhos azul
Lilian tem olhos marrom
Bruna tem olhos azul
Leandro tem olhos marrom
Tadeu tem olhos verde

# Exercício 12 
Usando a função map e função lambda, crie uma função que duplique e subtraia 1 dos elementos de uma lista.

In [39]:
valores = [1, 2, 3, 5, 7, 9]

novos_valores = map(lambda x: 2*x - 1, valores) # Cria um item do tipo map usando como função a função lambda e como iterável forneço "valores"

print(list(novos_valores)) # Transforma o item do tipo map para list, e depois printa

[1, 3, 5, 9, 13, 17]

# Exercicío 13 
Use a função reduce junto com uma lambda para multiplicar os números de uma lista.

In [40]:
valores = [2, 3, 5, 7, 9]

import functools # Importa o módulo necessário
 
functools.reduce(lambda x, y: x*y, valores) # aplica reduce seguindo a lambda x*y primeiro a 2 e 3, resultando em 6
                                            # depois aplica novamente a lambda ao resultado anterior 6 e ao próximo item 5, resultando em 30
                                            # Faz isso até o fim da lista, multiplicando todos

1890